body {
  height: 400px;
  width: 400px;
}
#gamefield {
  background-color: rgb(100, 100, 100);
  height: 100%;
  width: 100%;
  position: relative;
}

#gamefield > div {
  position: absolute;
  background-color: green;
}
